@{
		Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<ul data-role="listview" data-inset="true" data-filter="true">
	<li><a href="#">Javier</a></li>
	<li><a href="#">Christa</a></li>
	<li><a href="#">Dominic</a></li>
	<li><a href="#">Joey</a></li>
	<li><a href="#">TJ</a></li>
</ul>